.cta-buttons {
  text-align: center;
  margin-top: 20px;
}

.quick-access {
  margin-top: 10px;
}

.emergency-access {
  color: red;
  font-weight: lighter;
  margin-right: 15px;
}

.privacy-policy {
  color: gray;
}

.sign-in-button:hover,
.create-account-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
} 